.campingChecklistTitle {
  text-align: center;
}

.totalNumberOfItemsTitle {
  text-align: center;
}
.totalTitle {
  text-align: center;
}

.campsiteItemsTitleDiv {
  position: relative;
}
h3 {
  margin-left: 2%;
}
h2,
h5 {
  margin-left: 2%;
}

h4 {
  text-align: center;
}
input {
  width: 75%;
  border-radius: 23px;
  height: 30px;
  font-size: 22px;
  padding-top: 2%;
  padding-left: 2%;
  font-family: "Luckiest Guy", cursive;
}
.number {
  width: 75%;
  border-radius: 23px;
  height: 30px;
  font-size: 21px;
}
.newField {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 22px;
  padding-top: 3%;
}
.campsiteItemsDiv,
.kitchenItemsDiv,
.hygieneItemsDiv,
.sunBugFirstAidItemsDiv {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  width: 26%;
  grid-gap: 21px;
  margin-left: 2%;
}

.button {
  background: honeydew;
  border-radius: 5px;
  font-size: 19px;
  box-shadow: 5px 2px;
  margin-left: 2%;
}

.buttonPressed {
  background: lime;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 6%;
  margin-left: 2%;
}
.customComponents {
  margin-left: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.customComponent1,
.customComponent2,
.customComponent3,
.customComponent1,
.customComponent4,
.customComponent5,
.customComponent6,
.customComponent7,
.customComponent8,
.customComponent9 .customComponent10,
.customComponent11,
.customComponent12 {
  margin-left: 2%;
}
