.campingChecklistTitle {
  text-align: center;
}

.totalNumberOfItemsTitle {
  text-align: center;
}

.campsiteItemsTitleDiv {
}

.campsiteItemsDiv,
.kitchenItemsDiv {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  width: 26%;
  grid-gap: 21px;
  margin-left: 2%;
}

.button {
  background: honeydew;
  border-radius: 5px;
  box-shadow: 5px 2px;
}

.buttonPressed {
  background: lime;
  border-radius: 5px;
}
